# Auto detect text files and perform LF normalization
* text=auto

monolitum/bootstrap/js/*.* linguist-vendored
monolitum/bootstrap/css/*.* linguist-vendored

monolitum/wangeditor/res/*.* linguist-vendored
